/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  padding-right: calc(100vw - 100%);
  box-sizing: content-box;
  overflow-x: hidden;
}

::selection {
  background-color: #404060;
}

/**
 * Basic styling
 */
body {
  font-family: "Libertinus Serif", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #04040f;
  background-color: #fbfafa;
}

/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 15.75px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

strong, b {
  font-weight: 700;
  color: #00000b;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
a {
  color: #194d66;
  text-decoration: none;
}
a:hover {
  color: #04040f;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #080813;
  border-left: 4px solid #00000b;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre, code {
  font-size: 15px;
  border: 1px solid #00000b;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #00000b;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c0c0c0;
    background-color: #080813;
  }
  strong, b {
    color: #e0e0e0;
  }
  a {
    color: #5184e4;
  }
  a:hover {
    color: #c0c0c0;
  }
  blockquote {
    color: #a0a0a0;
    border-left-color: #e0e0e0;
  }
  pre, code {
    border-color: #e0e0e0;
  }
  .icon > svg path {
    fill: #a0a0a0;
  }
}
/**
 * Site header
 */
.site-header {
  border-top: 4px solid #b1461c;
  border-bottom: 1px solid #612a15;
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  z-index: 10;
}
.site-title, .site-title:visited {
  color: #00000b;
}

.site-nav {
  line-height: 56px;
  text-align: right;
  font-family: "Libertinus Serif Display";
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .trigger {
  text-align: right;
}
.site-nav #menu {
  float: right;
  width: 75%;
}
.site-nav .page-link {
  color: #04040f;
  font-size: 18px;
  line-height: 2.25;
}
.site-nav .page-link:not(:first-child) {
  padding-left: 20px;
}
@media screen and (max-width: 750px) {
  .site-nav {
    position: relative;
    background-color: #fbfafa;
    text-align: center;
    float: right;
    width: 100%;
  }
  .site-nav .menu-icon {
    position: relative;
    display: block;
    float: right;
    width: 100px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: right;
    top: 9px;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  .site-nav .menu-icon > svg path {
    fill: #080813;
  }
  .site-nav .trigger {
    clear: both;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    text-align: center;
  }
  .site-nav #menu {
    float: initial;
    width: 100%;
  }
  .site-nav .show {
    max-height: 700px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
  .site-nav .page-link:first-child {
    padding-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    border-bottom: 1px solid #612a15;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #612a15;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
}

.contact-list, .social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #00000b;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: calc(35% - 30px / 2);
}

.footer-col-2 {
  width: calc(35% - 30px / 2);
}

.footer-col-3 {
  width: calc(30% - 30px / 2);
}

.footer-top-link {
  text-align: center;
}
.footer-top-link a {
  color: #080813;
}

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 {
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 750px) {
  .footer-col {
    float: none;
    width: calc(100% - 30px / 2);
  }
}
/**
 * Page content
 */
.jetsSearch {
  padding: 3px;
  font-size: 16px;
  line-height: 1.5;
  width: 33%;
  max-width: 400px;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  margin-left: 8px;
  background-color: #e0e0e0;
  color: #04040f;
}

.page-content {
  padding: 7px 0;
}

.page-heading {
  font-size: 36px;
  margin-top: 7px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
  color: #00000b;
}

dl.tag-list {
  display: inline-block;
  margin: 0;
}
dl.tag-list dt {
  font-weight: bold;
  display: inline-block;
  color: #080813;
  padding-right: 20px;
}
dl.tag-list dd {
  display: inline;
  padding-right: 20px;
}

.post-list-head {
  font-size: 22px;
  margin-top: 30px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
  color: #00000b;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 7px;
  margin-left: 30px;
}

.post-list:has(+ :is(.searchHide, .jetsHide)) {
  margin-bottom: 0px;
}

.post-meta {
  font-size: 18px;
  color: #080813;
}

.post-link {
  display: block;
  font-size: 18px;
}

.class-list h3 {
  margin-top: 30px;
}
.class-list .tag-list dt, .class-list .tag-list dd {
  margin-left: 0;
}

@media screen and (max-width: 750px) {
  .jetsSearch {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
  color: #00000b;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
  font-family: "Libertinus Serif Display";
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

.rss-subscribe {
  text-align: right;
}

/**
 * Tables
 */
table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border: 1px solid #771900;
}

th {
  border: 0;
  padding: 10px 15px;
  font-weight: normal;
  color: #00000b;
  background-color: #771900;
}

tbody tr:nth-of-type(even) {
  background-color: #cdcdcd;
}

th {
  text-align: left;
}

td {
  padding: 7px 15px;
}

@media (prefers-color-scheme: dark) {
  .site-header {
    border-top-color: #b1461c;
    border-bottom-color: #612a15;
  }
  .site-title, .site-title:visited {
    color: #e0e0e0;
  }
  .site-nav .page-link {
    color: #c0c0c0;
  }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 750px) {
  .site-nav .menu-icon > svg path {
    fill: #a0a0a0;
  }
  .site-nav .page-link:not(:last-child) {
    border-bottom-color: #612a15;
  }
}
@media (prefers-color-scheme: dark) {
  .site-footer {
    border-top-color: #612a15;
  }
  .footer-col-wrapper {
    color: #e0e0e0;
  }
  .footer-top-link a {
    color: #a0a0a0;
  }
  .jetsSearch {
    color: #c0c0c0;
    background-color: #404040;
    border-color: #606060;
  }
  .page-heading {
    color: #e0e0e0;
  }
  dl.tag-list dt {
    color: #a0a0a0;
  }
  .post-list-head {
    color: #e0e0e0;
  }
  .post-meta {
    color: #a0a0a0;
  }
  .post-title {
    color: #e0e0e0;
  }
  table {
    border-color: #771900;
  }
  th {
    background-color: #771900;
    color: #e0e0e0;
  }
  tbody tr:nth-of-type(even) {
    background-color: #181823;
  }
}
.tagsearch-hide {
  display: none;
}

.sourcesearch-hide {
  display: none;
}

.searchHide {
  display: none;
}

/*# sourceMappingURL=main.css.map */